@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-style {
    width: 20%
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}